$font-size: 10px;
$font-family: 'Encode Sans', sans-serif;
$background-color: #fefefe;
$font-color: #000;
$page-width: 1300px;

$color-underline-green: #C9DDDA;
$color-light-green: #639D95;
$color-blue-main: #086E7D;
$color-grey: #D9D9D9;
$color-light-grey: #F2F2F2;
$color-dark-grey: #363636;